.menu {
  position: fixed;
  top: 0;
  height: 100%;
  width: 50%;
  padding: 10px;
  background-color: rgba(0,0,0,0.8);
  box-shadow: 0 0 2px 2px rgba(0,0,0,0.5);
  transition: all 0.2s;
  overflow-y: auto;
  z-index: 100;
}

@media (max-width: 460px) {
  .menu#stats.shown {
    right: 0;
    color: white;
  }
}

#stats {
  .title {
    font-size: 30px;
  }

  .counter {
    font-size: 20px;
  }

  .global {
    display: flex;
    flex-direction: row;

    div {
      flex-grow: 1;
      margin-bottom: 0;
      .counter {
        text-align: left;
      }
    }
  }

  div {
    margin-bottom: 15px;
  }
}
