.pokemon-image {
  max-width: calc(100% - 40px);
  max-height: 320px;
  margin: 0 20px;
}

.play-area {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;

  .header {
    color: white;
  }

  .pokemon-container {

  }

  .answer-choices-container {
    display: flex;
    flex-direction: column;

    div {
      border: 1px solid black;
      padding: 10px;
      font-size: 16px;
      margin: 0 60px 10px;
      border-radius: 6px;
      font-weight: bold;
      background-color: mintcream;
    }

    .good-answer {
      background-color: green;
    }

    .wrong-answer {
      background-color: red;
    }
  }
}
